{% extends "base.html" %}
{% block content %}

<section id="bug-tracker" class="bug-tracker">
  <div class="container">
    <div class="section-title">
      <h2>Bug Tracker</h2>
      <p>This page will show a grid of bugs or issues that are being tracked.</p>
    </div>
  </div>
  <div class="container" id="grid-container">
    <div class="row-md-4 form-group" id="project-grid">
      <div class="col-md-4">
        <form id="project-tracker-form" action="{{ url_for('bug_tracker') }}" method="POST" enctype="multipart/form-data">
          <label for="project">Choose a Project</label>
          <select class="custom-select" id="project" name="project">
            <option selected>Project</option>
            {% for project in bugs.keys() %}
              <option>{{ project }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="bug-grid">
        <div class="section-title">
          <h2>{{ project }}</h2>
        </div>
        <div class="row">
          <div class="col-md-1">ID</div>
          <div class="col-md-1">Project</div>
          <div class="col-md-4">Description</div>
          <div class="col-md-4">Solution</div>
          <div class="col-md-1">Date Created</div>
          <div class="col-md-1">Date Solved</div>
        </div>
<!--        TODO: After adding 'create a project' for a user, make this functional -->
<!--        (id[0], project_id[2], issue_type, summary, description[4], priority, created_on[7], solution[6], answered_on[8])-->
        {% for bug in project_bugs %}
        <div class="row">
          <div class="col-md-1">{{ bug.id }}</div>
          <div class="col-md-1">{{ project }}</div>
          <div class="col-md-4">{{ bug.description }}</div>
          <div class="col-md-4">{{ bug.solution }}</div>
          <div class="col-md-1">{{ bug.created_on | datetimefilter}}</div>
          <div class="col-md-1">{{ bug.answered_on }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container" id="submit-a-bug">
    <div class="row mt-5 justify-content-center">
      <div class="col-md-3">
        <h2 align="center">Submit a Bug</h2>
        <div align="center">
          <a href="{{ url_for('new_bug') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Submit</a>
        </div>
      </div>
      <div class="col-md-3">
        <h2 align="center">Submit a Solution</h2>
        <div align="center">
          <a href="{{ url_for('solve_bug') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Submit</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}