{% extends "base.html" %}
{% block content %}
<section id="new-bug" class="new-bug">
    <div class="section-title">
        <h2>Bug Tracker</h2>
        <p>Here you can enter a bug and submit it for your teams project.</p>
    </div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="{{ url_for('bugtracker.post_bug') }}" role="form" class="new-bug-form">
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label for="project_name">Project name</label>
<!--                  TODO: Project_name will need to be a list that only pulls valid projects-->
                  <input type="text" name="project_name" class="form-control" id="project_name" placeholder="Project Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <label for="issue_type">Type of Issue</label>
                  <select class="custom-select" id="issue_type" name="issue_type">
                    <option selected>Types</option>
                    <option>Task</option>
                    <option>Bug</option>
                    <option>Recommendation</option>
                  </select>
                </div>
                <div class="col-md-4 form-group">
<!--                  TODO: Remove the priority field when issue_type=Recommendation-->
                  <label for="priority">Priority Rank</label>
                  <select class="custom-select" id="priority" name="priority">
                    <option selected>Rank between 1-5</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12 form-group">
                  <label for="summary">Summary</label>
                  <input type="text" name="summary" class="form-control" id="summary"
                         placeholder="Summarize your bug/task/recommendation" data-rule="minlen:4"
                         data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" rows="5" data-rule="required" data-msg="Please write something for us" placeholder=""></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
    </div>
</section>


{% endblock %}